@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
    line-height: 1.6;
    font-size: 1.6rem;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo  {
    font-size: 3rem;
    color: #FFC107;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    user-select: none;
}

.logo:hover {
    color: #FFB300;
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    margin-left: 4rem;
    transition: 0.3s ease;
    text-decoration: none;
    position: relative;
}

nav a:hover{
    color: #FFC107;
    transform: scale(1.1);
    border-bottom: 3px solid #FFC107;
}

nav a.active{
    color: #FFC107;
    font-weight: 600;
    border-bottom: 3px solid #FFC107;
}

@media (max-width: 995px) {
   nav {
    position: absolute;
    display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #FFC107;
        border-bottom: 3px solid #FFC107;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
   };

   nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #FFC107;
    }

    section {
        min-height: 100vh;
        padding: 8rem 4%;
    }

    
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content h3.aka{
    margin: 5px 0 20px 0; 
    font-size: 2rem; 
    color: #bbb; 
    font-style: italic;
}

span{
    color: #FFC107;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 25%;
    background-color: black; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center
}

.home-img img{
    position: relative;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 2.5px #FFD700, 0 0 5px #FFC107, 0 0 10px #FFEA00;
    

}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

 .home-img img{
        width: 32vw;
        margin-top: 10rem;
    }
.button{
   display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #FFC107;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #FFC107;
    transition: 0.3s ease;
    cursor: pointer;
}

.button:hover{
    transform: scale3d(1.03);
    background-color: #FFC107;
    color: black;
    box-shadow: 0 0 25px #FFC107;
}

.name {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.name span{
    position: relative;
}

.name span::before{
    content: "Kain";
    color: #FFC107;
    animation: words 20s infinite;
}

.name span::after{
    content: "";
    background-color: black;
    position: center;
    width: 3px;
    height: 50%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text p span{
    position: relative;
}

.typing-text p span::before{
    content: "(profession)";
    color: #FFC107;
    animation: words 20s infinite;
}

.typing-text p span::after {
    content: "";
    position: center;
    width: 3px;
    height: 50%;
    background-color: #FFC107;
    right: 0;
    animation: cursor 0.6s infinite;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #FFC107;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #FFC107;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #FFC107;
    box-shadow: 0  0 25px #FFC107;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 33%{
        content: "";
    }
    34%, 66%{
        content: "";
    }
    67%, 100%{
        content: "";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}


.typing {
  display: absolute;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.6s step-end infinite alternate;
  color: #FFC107;
}

@keyframes blink {
  50% { border-color: transparent; }
}




