@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
    line-height: 1.6;
    font-size: 1.6rem;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo  {
    font-size: 3rem;
    color: #FFC107;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    user-select: none;
}

.logo:hover {
    color: #FFB300;
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    margin-left: 4rem;
    transition: 0.3s ease;
    text-decoration: none;
    position: relative;
}

nav a:hover{
    color: #FFC107;
    transform: scale(1.1);
    border-bottom: 3px solid #FFC107;
}

nav a.active{
    color: #FFC107;
    font-weight: 600;
    border-bottom: 3px solid #FFC107;
}

@media (max-width: 995px) {
   nav {
    position: absolute;
    display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #FFC107;
        border-bottom: 3px solid #FFC107;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
   };

   nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #FFC107;
    }

    section {
        min-height: 100vh;
        padding: 8rem 4%;
    }
  
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content h3.aka{
    margin: 5px 0 20px 0; 
    font-size: 2rem; 
    color: #bbb; 
    font-style: italic;
}

.home-content p{
    font-size: 1.6rem;
}

.skill {
    background: #000;
    padding: 80px 0;
    text-align: center;
}

.skill h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
    margin: 0 auto;
}

.box {
    background: #000;
    border: 3px solid #FFC107;
    padding: 30px;
    border-radius: 40px;
    color: white;
    transition: 0.4s ease;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}


.box:hover {
    transform: translateY(-10px);
    box-shadow: 
        0 0 15px #fff,
        0 0 30px #FFC107,
        0 0 45px #FFC107;
    border-color: #fff;
}

.box h3 {
    color: #FFC107;
    margin-bottom: 15px;
    font-size: 24px;
}

.box p {
    opacity: 0.85;
    line-height: 1.4;
}
